.App {
  text-align: center;
}

.Nodes {
  height: 100vh;
  overflow-y: auto;
}

.Card {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Card-right {
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.Card-image {
  width: 240px;
  height: 180px;
  object-fit: cover;
  border-radius: 24px;
}

.Card-title {
  color: #666;
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  width: 360px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
}

.Card-date {
  font-size: 18px;
  font-weight: 500;
  color: #aaa;
  margin: 0;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
